<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 ps-5">
      <h3><%= current_user.full_name %></h3>
    </div>
    <div class="col-md-8 ps-5 pe-5">
      <h3>NEWS FEED</h3>
      <%= render partial: "form", object: @new_post, as: :post %>
      <%= render partial: "news_feed", object: @posts, as: :posts%>
    </div>
    <div class="col-md-2">
      <h3>Notifications</h3>
      <h5>Friend Requests</h5>
      <% current_user.recieved_requests.each do |request| %>
        <span><%= link_to request.full_name, request %></span>
        <%= link_to 'Accept', accept_friend_user_friendships_path(user_id: request), class: 'btn btn-success' %>
        <%= link_to 'Decline', decline_friend_user_friendships_path(user_id: request), class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
</div>