<!DOCTYPE html>
<html>
  <head>
    <title>Fakebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body-bg">
    <div class="flash-container flash-message">
      <% flash.each do |type, msg|  %> 
        <%= content_tag :div, msg, class: "alert alert-#{type}" %>
      <% end %>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark navbar-bg mb-3">
      <div class="container-fluid">
        <%= link_to "fakebook", "/", class: "navbar-brand ms-3"%>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <% if user_signed_in? %>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-bell"><%= current_user.notifications.count %></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <% current_user.notifications.each do |notification| %>
                    <% next if notification.read_at.nil? %>
                    <li class="dropdown-item"><%= notification.action %></li>
                  <% end %>
                </ul>
              </li>
              <li class="nav-item">
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
            </ul>
          <% else %>
            <%= form_for(:user, url: session_path(:user), html: {class: "ms-auto"}) do |f| %>
              <div class="row mb-1 g-2">
                <div class="col-md-4">
                  <%= f.label :email, class: "form-label mb-0" %>
                  <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
                </div>
                <div class="col-md-4">
                  <%= f.label :password, class: "form-label mb-0" %>
                  <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
                </div>
                <div class="col-md-2 pt-4">
                  <%= f.submit "Sign in", class: "btn btn-primary" %>
                </div>
                <div class="row mb-1">
                  <div class="col-md-4">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me, class: "navbar-under-sign-in" %>
                  </div>
                  <div class="col-md-4">
                    <%= link_to "Forgot password", new_user_password_path, class: "navbar-under-sign-in" %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
